In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./tracker.csv", on_bad_lines='skip')
print(df.columns)
df.head()

Index(['Txn Hash', 'Blockno', 'UnixTimestamp', 'Date Time (UTC)', 'Action',
       'Amount (Out)', 'Token (Out)', 'Amount (In)', 'Token (In)',
       'Swapped Rate', 'Swapped Pair', 'DEX'],
      dtype='object')

,Txn Hash,Blockno,UnixTimestamp,Date Time (UTC),Action,Amount (Out),Token (Out),Amount (In),Token (In),Swapped Rate,Swapped Pair,DEX
0,0x1c4f919077ba8820660fa9737a39e107f33f84020b70...,16730072,1677628811,2023-03-01 00:00:11,Swap,19996.400000,FRAX,1739.207957,FXS,0.086976,FXS per FRAX,Uniswap V2
1,0x3149552922d6210f1842e38f8c96792b13812d30a04a...,16730072,1677628811,2023-03-01 00:00:11,Buy,2.175732,ETH,304.447912,FXS,0.007146,ETH per FXS,SushiSwap
2,0xe0dd81ce3111b90ca7c06ad78ec51ca1725140312847...,16730072,1677628811,2023-03-01 00:00:11,Swap,49990.999000,FRAX,4346.042816,FXS,0.086937,FXS per FRAX,Unknown
3,0xafa378c7e6687ba3e7cd78848675dc8cbf13404eef6f...,16730072,1677628811,2023-03-01 00:00:11,Swap,1.160000,LEASH,404.641783,BONE,0.002867,LEASH per BONE,Unknown
4,0x4c68d0096331975b298d33706aa28b9ac9067ec89429...,16730072,1677628811,2023-03-01 00:00:11,Sell,34.460117,EUL,0.161971,ETH,0.004700,ETH per EUL,Uniswap V2

In [8]:
df.DEX.unique()

array(['Uniswap V2', 'SushiSwap', 'Unknown', 'Uniswap V3',
       'Kyber Network'], dtype=object)

In [16]:
len(df["Token (In)"].unique()), len(df["Token (Out)"].unique())

(473, 517)

In [18]:
len(df["Swapped Pair"].unique())

779

In [23]:
df["Token (In)"][0]

' FXS'

In [24]:
df = pd.read_csv("./trader.csv", on_bad_lines='skip')
print(df.columns)
df.head()

Index(['Txn Hash', 'Blockno', 'UnixTimestamp', 'Date Time (UTC)', 'Action',
       'Amount (Out)', 'Token (Out)', 'Amount (In)', 'Token (In)',
       'Swapped Rate', 'Swapped Pair', 'DEX'],
      dtype='object')

,Txn Hash,Blockno,UnixTimestamp,Date Time (UTC),Action,Amount (Out),Token (Out),Amount (In),Token (In),Swapped Rate,Swapped Pair,DEX
0,0xb117f2d9744d503fede2e4f6b5686133f402ebd0067e...,16747499,1677840575,2023-03-03 10:49:35,Sell,0.012763,COMP,0.6,USDT,47.009123,USDT per COMP,Airswap v2
1,0x3d56fdba97ca45e3e422c128f465694504f6eb88c262...,16775234,1678177655,2023-03-07 08:27:35,Sell,1000.000000,GENII,200.0,USDT,0.200000,USDT per GENII,Airswap v2
2,0xe232958bec3adad7ac40c92b73db553ec8cb81f856ce...,16776261,1678190135,2023-03-07 11:55:35,Buy,0.125000,WETH,113.0,GAL,0.001106,WETH per GAL,Airswap v2
3,0xd7b258fc46608ba402c99c583660930d3dcd44e05321...,16777371,1678203587,2023-03-07 15:39:47,Sell,30000.000000,GENII,6000.0,USDC,0.200000,USDC per GENII,Airswap v2
4,0x682a78a8fcabc2653ebe0b9d38748e22deda55130ee0...,16789205,1678347419,2023-03-09 07:36:59,Sell,44050.000000,DEXTF,5400.0,USDT,0.122588,USDT per DEXTF,Airswap v2

In [25]:
df = pd.read_csv("./txs.csv", on_bad_lines='skip')
print(df.columns)
df.head()

Index(['Txn Hash', 'Blockno', 'UnixTimestamp', 'Date Time (UTC)', 'Action',
       'Amount (Out)', 'Token (Out)', 'Amount (In)', 'Token (In)',
       'Swapped Rate', 'Swapped Pair', 'DEX'],
      dtype='object')

,Txn Hash,Blockno,UnixTimestamp,Date Time (UTC),Action,Amount (Out),Token (Out),Amount (In),Token (In),Swapped Rate,Swapped Pair,DEX
0,0x1c4f919077ba8820660fa9737a39e107f33f84020b70...,16730072,1677628811,2023-03-01 00:00:11,Swap,19996.400000,FRAX,1739.207957,FXS,0.086976,FXS per FRAX,Uniswap V2
1,0x3149552922d6210f1842e38f8c96792b13812d30a04a...,16730072,1677628811,2023-03-01 00:00:11,Buy,2.175732,ETH,304.447912,FXS,0.007146,ETH per FXS,SushiSwap
2,0xe0dd81ce3111b90ca7c06ad78ec51ca1725140312847...,16730072,1677628811,2023-03-01 00:00:11,Swap,49990.999000,FRAX,4346.042816,FXS,0.086937,FXS per FRAX,Unknown
3,0xafa378c7e6687ba3e7cd78848675dc8cbf13404eef6f...,16730072,1677628811,2023-03-01 00:00:11,Swap,1.160000,LEASH,404.641783,BONE,0.002867,LEASH per BONE,Unknown
4,0x4c68d0096331975b298d33706aa28b9ac9067ec89429...,16730072,1677628811,2023-03-01 00:00:11,Sell,34.460117,EUL,0.161971,ETH,0.004700,ETH per EUL,Uniswap V2

In [32]:
import requests

url = "https://coinranking1.p.rapidapi.com/coins"

querystring = {"referenceCurrencyUuid":"yhjMzLPhuIDl","timePeriod":"24h","tiers[0]":"1","orderBy":"marketCap","orderDirection":"desc","limit":"50","offset":"0"}

headers = {
    "X-RapidAPI-Key": "ac883251c1msh3c940db7a8cbb9fp1bc08fjsnd28015c4cbab",
    "X-RapidAPI-Host": "coinranking1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"message":"You are not subscribed to this API."}